$font18: 18px;
$font36: 36px;
$font48: 48px;

.font_bold {
  font-weight: bold; //для изменения начертания единоразово по всей странице либо вернуть font-weight: bold;
}

body {
  margin: 0;
  font-family: 
  'Open Sans Condensed', sans-serif 
  !important;
}

.container {
  max-width: 1180px;
  padding: 0 20px;
  margin: 0 auto;
}

h1 {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0 !important;
}

p {
  margin-block-start: 0;
  margin-block-end: 0;
  margin-bottom: 0 !important;
}