.myblog {
    background: #FFE01B;
    padding: 50px 0;

    &__part_one {
        padding: 70px 0 53px 0;
    }

    &__title_one {
        @extend .font_bold;
        font-size: $font48;
    }

    &__title_two {
        @extend .font_bold;
        font-size: $font36;
    }

    &__image {
        padding: 40px 0 35px 0;
    }

    &__text_one {
        @extend .font_bold;
        font-size: $font18;
        padding-bottom: 20px;
    }

    &__text_two {
        @extend .font_bold;
        font-size: $font18;
    }

    &__part_two {
        padding-top: 47px;
    }

    &__line {
        border: 1px solid #000000;
        transform: rotate(0.14deg);
    }    
}

