.story {
    color: rgb(76, 5, 117);

    &__content {
        text-align: center;
        height: 85%;
    }      
  }

.title-block_two {
    font-style: italic;
}

.title-block {
    font-size: $font36;      
}