<div class="header">
    <div class="container">
      <div class="header__content">
        <div class="header__brand"> 
          <img src="./img/logo.png">
        </div>
        <div class="header__links">
         <a class="header__link" href="./index.html">Главная</a> 
          <!-- <a class="header__link" href="./story.html">История обо мне</a> -->
          <a class="header__link" href="./myblogpage.html">Мой блог</a>
          <!-- <a class="header__link" href="#">Контакты</a> -->
           <a class="header__link" href="./story.html">Подробнее обо мне</a>
           <a class="header__link" href="./dlacademy.html">DL Academy</a>
          <!-- <a class="header__link" href="./studypage.html">Учебный сайт</a> -->
        </div>
      </div>
    </div>
  </div>  